### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/temp

### Editors ###
.vscode/
coverage
target/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/cdk.out
infrastructure/cdk.out
functions/cdk.out
common/cdk.out
*.DS_Store
.venv
__pycache__
*.bat

/cc-reporter*
/public-key.asc

lib/
node_modules
